@model CongThongTinMobifone.Models.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Trangchinh.cshtml";
}

<h1>Details</h1>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_TypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_TypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCateID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCateID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Number">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
