@model IEnumerable<CongThongTinMobifone.Models.Package_Cate>

@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Loại gói cước</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Package_CateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Package_CateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Package_CateID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Package_CateID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Package_CateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
