@model IEnumerable<CongThongTinMobifone.Models.Package_Cate>

@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Loại gói cước vừa được tìm kiếm</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Package_CateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package_name)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Package_CateID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package_name)
                </td>
                <td>
                    <a class="text-danger" asp-action="Edit" asp-route-id="@item.Package_CateID">Edit</a>
                </td>
                <td>
                    <a class="text-warning" asp-action="Details" asp-route-id="@item.Package_CateID">Details</a>
                </td>
                <td>
                    <a class="text-info" asp-action="Delete" asp-route-id="@item.Package_CateID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
