@model CongThongTinMobifone.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-md-2"></div>
                <div class="col-md-8>">
                    <img class="rounded mx-auto d-block" width="500px" height="450px" src="~/images/Post_avt/@Html.DisplayFor(model => model.avatar)"></img>
                    <h1 class="text-center text-primary font-weight-bold">
                        @Html.DisplayFor(model => model.Post_title)
                    </h1>
                    <p class="text-justify"> @Html.DisplayFor(model => model.Post_content1)</p>
                    @if (Model.img1 != "" && Model.img1 != " " && Model.img1 != "Không")
                    {
                        <img class="rounded mx-auto d-block" src="~/images/Post_avt/@Html.DisplayFor(model => model.img1)" />
                    }
                    <p class ="text-justify"> @Html.DisplayFor(model => model.Post_content2)</p>
                    @if (Model.img2 != "" && Model.img2 != " " && Model.img2 != "Không")
                    {
                        <img class="rounded mx-auto d-block" src="~/images/Post_avt/@Html.DisplayFor(model => model.img2)" />
                    }
                    <p class="text-justify"> @Html.DisplayFor(model => model.Post_content3)</p>
                    @if (Model.img3 != "" && Model.img3 != " " && Model.img3 != "Không")
                    {
                        <img class="rounded mx-auto d-block" src="~/images/Post_avt/@Html.DisplayFor(model => model.img3)" />
                    }
                    <p class="text-justify"> @Html.DisplayFor(model => model.Post_content4)</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
