@model CongThongTinMobifone.Models.Package

@{

    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc sẽ xóa gói cước này không?</h3>
<div>
    <h4>Package</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Package_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Package_ID)
        </dd>
            @Html.DisplayNameFor(model => model.Package_title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Package_title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Package_content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Package_content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageIDNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageIDNavigation.PostCateID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageCateIDNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageCateIDNavigation.Package_CateID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Package_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại</a>
    </form>
</div>
