@model IEnumerable<CongThongTinMobifone.Models.Package>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Gói cước</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Package_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package_content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayName("Loại gói cước")
            </th>
            <th>
                @Html.DisplayName("Thể loại tin")
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Package_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.link)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PackageCateIDNavigation.Package_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageIDNavigation.Name)
            </td>
            <td>
                <a class="text-danger" asp-action="Edit" asp-route-id="@item.Package_ID">Edit</a>
            </td>
            <td>
                <a class="text-warning" asp-action="Details" asp-controller="Packages" asp-route-id="@item.Package_ID">Details</a>
            </td>
            <td>
                <a class="text-info" asp-action="Delete" asp-route-id="@item.Package_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
