@model CongThongTinMobifone.Models.Phone_number

@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc sẽ xóa sim này không?</h3>
<div>
    <h4>Phone_number</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_TypeIDNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_TypeIDNavigation.Number_TypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_numberIDNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_numberIDNavigation.PostCateID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Number" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại</a>
    </form>
</div>
